name: "Code layout"

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  code:
    name: Code layout
    runs-on: ubuntu-18.04
    steps:
      - name: Install nvm
        uses: actions/setup-node@v1
        with:
          node-version: '8'
      - name: Linter
        run: |
          npm install -g eclint@1.1.5
          eclint check * */* */cunit/*
